<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cocktail List</title>
</head>
<body>
<h1>Liste des Cocktails</h1>
<ul>
    <% data.forEach(cocktail => { %>
        <li>
            <h2><%= cocktail.Name %></h2>
            <h2><%= cocktail.ingredient %></h2>
        </li>
    <% }) %>
</ul>
</body>
</html>
